.product {
    color:rgb(88, 15, 157);
    font-size: 50px;

}
h2 , p {
    color: #000000;
    font-size: 30px;
}
.title{
    color: rgb(185, 150, 218);
}
button{
    height: 40px;
    width: 80px;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
form {
    margin: 50px;
   
}
input {
    width: 200px;
    height: 30px;
}
.name{
    background-color: rgb(194, 156, 230);
    color:aqua
     
}